@import '../../../../../scss/colorPalette.scss';
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
.hidden{
    overflow:hidden;
    border-radius: 30px;

}
.row{
    margin-block: 20px;
    justify-content: center;
}
.box{
    background: $light-gray;
    border: 2px solid $green;
    box-sizing: border-box;
    border-radius: 30px;
    margin: auto;
}
.data-box{
    width: fit-content;
    height: fit-content;
    min-width: 300px;
    min-height: 200px;

}
.data-box-content{
    text-align: center;
    font-size: 70px;
}
.stations-map-box{
    min-height: 300px;
}
.alerts-box{
    height: 300px;
    overflow-y:auto;
    overflow-x:hidden;
}
.data-box-title{
    text-align: center;
    margin-block: 10px;
    font-weight: bold;
    font-size: 15px;
}
.plot-box{
    width: 90%;
    min-height: 400px;
}
.table-box{
    width: 90%;
    min-height: fit-content;

}
.green{
    color:$green;
}
.yellow{
    color:$dark-yellow;
}
.red{
    color:$red;
}
.data-box-footer{
    text-align: center;
    font-size: 20px;
}
@media (max-width:600px){
    .col{
        margin-block: 10px;

    }
    .mapRow{
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
       
        
    }

}