<div class="container-fluid">



  <!--Mapa-->
  <div class="row rw1">
    <div class="noPadding col-8">

      <div class="sensor-plot-container box plot-box">
        <app-sensor-dashboard-plot></app-sensor-dashboard-plot>
  
      </div>
  
    </div>
    <div class="noPadding col-4">

      <div class="stations-map-box box">
        <app-stations-map></app-stations-map>
      </div> 
      
    </div>

  </div>

  <div class="row rw2">

    <div class=" noPadding col-4">
      <div class="hidden">
        <div class="box alert-box scrolleable-box">
          <app-last-alerts></app-last-alerts>
        </div>

      </div>

    </div>

    <div class=" noPadding col">

      <div class="system-info-row">
        <div class="col">
          
          <div class="data-box box">
    
            <div class="data-box-title">
              Numero de lecturas en la ultima semana
            </div>
    
            <div class="data-box-content green">
                {{numberOfReadings}}
            </div>
    
            <div *ngIf="systemUptimeDanger" class="data-box-footer">
              <i class="cil-warning red"></i>
            </div>
    
    
          </div>
        </div>
        <div class="col">
          <div class="data-box box">
    
            <div class="data-box-title">
              Numero de Alertas en la ultima semana
            </div>
    
            <div class="data-box-content"
            [class.green]="numberOfAlerts<=10"
            [class.yellow]="numberOfAlerts>10 && numberOfAlerts<20"
            [class.red]="numberOfAlerts>=20">
              {{numberOfAlerts}}
            </div>
    
            <div *ngIf="numberOfAlertsDanger" class="data-box-footer">
              <i class="cil-warning red"></i>
            </div>
    
    
          </div>
          
        </div>
        <div class="col">
          <div class="data-box box">
    
            <div class="data-box-title">
              Sensores Activos
            </div>
    
            <div class="data-box-content"
            [class.green]="activeSensors==totalSensors"
            [class.yellow]="activeSensors!=totalSensors"
            [class.red]="activeSensors< totalSensors*0.8">
              {{activeSensors}}/{{totalSensors}}
    
            </div>
            <div *ngIf="activeSensorsDanger" class="data-box-footer">
              <i class="cil-warning red"></i>
            </div>
    
          </div>
          
        </div>
    
      </div>


    </div>


  </div>

  <!--Tabla-->
  <div class="row" style="margin-bottom: 10px;">
    <div class=" box scrolleable-box">
      <app-stations-status-table></app-stations-status-table>
    </div>


  </div>

  <!--Cuadros-->
  


</div>
