<div class="app-body">
    <main class="main d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mx-auto">
            <div class="card-group">
              <div class="card p-4">
                <div class="card-body">
                  <form [formGroup]="forgotPasswordForm">
                    <h1>Restaurar Contraseña</h1>
                    <p class="text-muted">Ingrese su email para reestablecer su contraseña</p>
                    <div class="input-group mgtop">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-user"></i></span>
                      </div>
                      <input
                        [class.is-invalid]="forgotPasswordForm.get('email').touched && forgotPasswordForm.get('email').invalid"
                        type="email"
                        formControlName="email"
                        class="form-control"
                        placeholder="Email"
                        >
                    </div>

                    <div class="email-errors">

                      <div *ngIf="forgotPasswordForm.controls['email']?.hasError('email') && forgotPasswordForm.get('email').touched">
                        <div class="invalid-text">
                          Ingrese un email valido
                        </div>
                      </div>

                      <div *ngIf="forgotPasswordForm.controls['email'].hasError('required') && forgotPasswordForm.get('email').touched">
                        <div class="invalid-text">
                          Ingrese un email
                        </div>
                      </div>

                    </div>
              

                    <div class="row mgtop">
                      <div class="col-6">
                        <button [disabled]="forgotPasswordForm.invalid" (click)="submitButton()"type="button" class="btn btn-primary px-4">Enviar Correo</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  
  <div bsModal #successModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-success" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Solicitud de cambio de contraseña</h4>
          <button type="button" class="close" (click)="successModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Se ha enviado un correo electronico con el link de cambio de contraseña.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="successModal.hide()">Cerrar</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->