<div *ngIf="isLoading" style="height: 100%;">
    <app-loading-spinner></app-loading-spinner>
</div>

<ng-container *ngIf="!isLoading">
    <div class="chartHeader">
        <div class="selectButton">
            <div class="selectTitle">
                Tipo de Sensor:
            </div>
            <select [(ngModel)]="selectedOption" (change)="capture()">
                <option *ngFor="let item of selectSensorTypes ; let i = index" [selected]="i == 0">{{item.name}}</option>
            </select>
        </div>
    </div>
    
    <div class="chart-wrapper">
        <canvas baseChart class="chart"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [chartType]="lineChartType"></canvas>
    </div>

</ng-container>

    


