<div class="app-body">
    <main class="main d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mx-auto">
            <div class="card-group">
              <div class="card p-4">
                <div class="card-body">
                  <form [formGroup]="loginForm">
                    <h1>Inicio de Sesion</h1>
                    <p class="text-muted">Conectese a su cuenta</p>
                    <div class="input-group mgtop">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-user"></i></span>
                      </div>
                      <input
                        [class.is-invalid]="loginForm.get('email').touched && loginForm.get('email').invalid"
                        type="email"
                        formControlName="email"
                        class="form-control"
                        placeholder="Correo Electronico"
                        >
                    </div>

                    <div class="email-errors">

                      <div *ngIf="loginForm.controls['email']?.hasError('email') && loginForm.get('email').touched">
                        <div class="invalid-text">
                          Ingrese un email valido
                        </div>
                      </div>

                      <div *ngIf="loginForm.controls['email'].hasError('required') && loginForm.get('email').touched">
                        <div class="invalid-text">
                          Ingrese un email
                        </div>
                      </div>

                    </div>
              
                    <div class="input-group mgtop">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-lock"></i></span>
                      </div>
                      <input
                      type="password"
                      formControlName="password"
                      class="form-control"
                      placeholder="Contraseña"
                      autocomplete="current-password"
                      [class.is-invalid]="loginForm.get('password').touched && loginForm.get('password').invalid">
                    </div>
                    <div class="password-errors">

                      <div *ngIf="loginForm.controls['password'].hasError('required') && loginForm.get('password').touched">
                        <div class="invalid-text">
                          Es necesario ingresar un password
                        </div>
                      </div>
                    </div>

                    <div class="row mgtop">
                      <div class="col-6">
                        <button [disabled]="loginForm.invalid" (click)="logIn(loginForm.get('email').value,loginForm.get('password').value)" type="button" class="btn btn-primary px-4">Login</button>
                      </div>
                      <div class="col-6 text-right">
                        <button (click)="goToForgotPassword()" vlictype="button" class="btn btn-link px-0">Recuperar contraseña</button>
                      </div>
                    </div>
                    <div class="login-errors">
                      <div *ngIf="showErrorMessage==0" class="invalid-text">
                        El usuario ingresado no existe
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  