<div class="app-body">
    <main class="main d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mx-auto">
            <div class="card-group">
              <div class="card p-4">
                <div class="card-body">
                  <form [formGroup]="resetPasswordForm">
                    <h1>Crear una nueva contraseña</h1>
                    <p class="text-muted">Ingrese su nueva contraseña</p>


                    <div class="input-group mgtop">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="icon-lock"></i></span>
                        </div>
                        <input
                        type="password"
                        formControlName="password"
                        class="form-control"
                        placeholder="Ingrese su nueva contraseña"
                        autocomplete="current-password"
                        [class.is-invalid]="resetPasswordForm.get('password').touched && resetPasswordForm.get('password').invalid">
                      </div>
                      <div class="password-errors">
  
                        <div *ngIf="resetPasswordForm.controls['password'].hasError('required') && resetPasswordForm.get('password').touched">
                          <div class="invalid-text">
                            Es necesario ingresar un password
                          </div>
                        </div>

                        <div *ngIf="resetPasswordForm.controls['password'].hasError('pattern') && resetPasswordForm.get('password').touched">
                            <div class="invalid-text">
                              La contraseña debe ser de 8 digitos y tener una minimo una Mayuscula, una minuscula, un numero y un simbolo.
                            </div>
                          </div>
                      </div>

              
                    <div class="input-group mgtop">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-lock"></i></span>
                      </div>
                      <input
                      type="password"
                      formControlName="confirmPassword"
                      class="form-control"
                      placeholder="Confirme su nueva contraseña"
                      autocomplete="current-password"
                      [class.is-invalid]="resetPasswordForm.get('confirmPassword').touched && resetPasswordForm.get('confirmPassword').invalid">
                    </div>
                    <div class="password-errors">
                        <div *ngIf="resetPasswordForm.controls['confirmPassword'].hasError('required') && resetPasswordForm.get('confirmPassword').touched">
                            <div class="invalid-text">
                              Es necesario confirmar su contraseña
                            </div>
                        </div>
                        <div *ngIf="resetPasswordForm.get('confirmPassword').value != resetPasswordForm.get('password').value && resetPasswordForm.get('confirmPassword').touched">
                            <div class="invalid-text">
                              La contraseñas no coinciden!
                            </div>
                        </div>
                    </div>

                    <div class="row mgtop">
                      <div class="col-6">
                        <button [disabled]="resetPasswordForm.invalid || resetPasswordForm.get('confirmPassword').value != resetPasswordForm.get('password').value" (click)="submitNewPassword()" type="button" class="btn btn-primary px-4">Crear nueva contraseña</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>

  <div bsModal #successModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-success" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Cambio de contraseña exitoso!</h4>
          <button type="button" class="close" (click)="successModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Su contraseña se ha actualizado con exito.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="successModal.hide()">Cerrar</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->