<div class="container">
    <!-- Barra superior -->
    <div class="row">

        <div class="col stationName green">
            <p>{{stationName}} - Temperatura</p>
        </div>

        <div class="col urIcons">

            <div class="btn-group float-right" dropdown>
                <button type="button" class="btn btn-transparent" dropdownToggle>
                  <i class="green icon-settings"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
                  <p class="dropdown-item" data-toggle="modal" (click)="myModal.show()">Editar Sensor</p>
                </div>
            </div>

            <div class="btn-group float-right" dropdown>
                <button type="button" class="btn btn-transparent" disabled="true">
                    <i class="cil-wifi-signal-4 green"></i>
                </button>
            </div>

        </div>
        

    </div>


    <!-- Grafico -->
    <div class="row rw1">
        <app-readings-line-chart></app-readings-line-chart>

    </div>

    <!-- Historial de alertas -->
    <div class="row">

        <app-sensor-alerts-history></app-sensor-alerts-history>

    </div>
</div>

<!-- Modal para editar sensor -->
 
<div bsModal #myModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Sensor Temperatura - {{stationName}}</h4>
          <button type="button" class="close" (click)="myModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <form [formGroup]="sensorForm">

            <div class="row">

                <div class="col">

                    <p class="label">Min Value</p>
                    <div class="input-group mgtop">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="icon-arrow-down"></i></span>
                        </div>
                        <input
                        type="text"
                        id="min_value"
                        formControlName="min_value"
                        >
                    </div>

                </div>

                <div class="col">
                    <p class="label">Max Value</p>
                    <div class="input-group mgtop">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="icon-arrow-up"></i></span>
                        </div>
                        <input
                        id="max_value"
                        type="text"
                        formControlName="max_value"
                        >
                    </div>

                </div>

            </div>


          </form>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="myModal.hide()">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->