@import '../../../../../scss/colorPalette.scss';
.card-container{
    height: 100%;
    width: 100%;
    text-align: center;
}
.gray{
    color:gray;
}
.red{
    color:$red;
    font-weight: bolder;
}
.yellow{
    color:$dark-yellow;
    font-weight: bolder;
}
.green{
    color:$green;
    font-weight: bolder;
}