.chart-wrapper{
    width: 60vw;
}
.hidden{
    display:none;
}
.selectButton{
    position: relative;
    height: fit-content;
    float: right;
    margin: 10px;
    right: 30px;
    display: flex;
    border-radius: 30px;
    overflow: hidden;
    align-items: baseline;
    select{
        border-radius: 30px;
        padding-inline: 5px;
        margin-left: 10px;
    }
    .selectTitle{
        font-weight: bold;

    }
}
@media (max-width:600px) {
    .chart-wrapper{
        width: 90vw;
    }
    .chartHeader{
        display: flex;
        justify-content: center;
        .selectButton{
            right: none;
            float: none;
            position: unset;
        }
    }
    
}
