@import '../../../../../../scss/colorPalette.scss';
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
.green{
    font-size: 20px;
    color:green
}
.row{
    justify-content: center;
    margin-block: 10px;
}
.section-title p{
    color: gray;
}
.label{
    text-align: center;
    font-size: 14px;
}
.input-group{
    justify-content: center;
}
input{
    width: 70px;
}
.col{
    justify-content: center;
}
.btnRow{
    justify-content: right;
}
.scrolleable-box{
    overflow-y:auto;
}
.hidden{
    overflow:hidden;
    border-radius: 30px;
    box-shadow: $boxshadow;
}