<div class="container" id="pdfContent">
    <!-- Barra superior -->
    <div class="row">

        <div class="col stationName green">
            <p>{{stationName}} - nombreSensor</p>
        </div>
        <div class="col">
          <div class="reportTitles" id="show">
            <h3>Reporte</h3>
            <h5>Generado: {{actualDay}} </h5>
          </div>
        </div>

        <div class="col urIcons">
          <div class="icons" id="upperBar">
            <div class="btn-group float-right" dropdown>
              <button type="button" class="btn btn-transparent" dropdownToggle>
                <i class="green icon-settings"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
                <p class="dropdown-item" data-toggle="modal" (click)="myModal.show()">Editar Sensor</p>
              </div>
            </div>

            <div (click)="makePDF()" class="btn-group float-right" dropdown>
                <button type="button" class="btn btn-transparent" disabled="true">
                    <i class="fa fa-save green"></i>
                </button>
            </div>
          </div>



        </div>
        

    </div>


    <!-- Grafico -->
    <div class="row rw1">
        <app-readings-line-chart [sensorId]="sensorId"></app-readings-line-chart>

    </div>

    <!-- Historial de alertas -->
    <div class="row rw2" id="rw2">
      <div class="hidden" id="hidden">
        <div class="scrolleable-box" id="scBox">
          <app-sensor-alerts-history [sensorId]="sensorId"></app-sensor-alerts-history>
  
        </div>
      </div>
    </div>
</div>

<!-- Modal para editar sensor -->
 
<div bsModal #myModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Sensor nombreSensor - {{stationName}}</h4>
          <button type="button" class="close" (click)="myModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <form [formGroup]="sensorForm">
            <div class="section-title">
              <h4>Límites de medida</h4>

            </div>
            <div class="section-subtitle">
              <p>Límites superiores e inferiores del sensor, en caso de que se detecte una lectura fuera del límite establecido se emitirá una alerta</p>

            </div>

              

            <div class="row">

                  <div class="col">

                      <p class="label">Límite inferior de medida</p>
                      <div class="input-group mgtop">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="icon-arrow-down"></i></span>
                          </div>
                          <input
                          type="number"
                          id="min_config"
                          formControlName="min_config"
                          >
                      </div>

                  </div>

                  <div class="col">
                    <p class="label">Límite superior de medida</p>
                    <div class="input-group mgtop">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="icon-arrow-up"></i></span>
                        </div>
                        <input
                        id="max_config"
                        type="number"
                        formControlName="max_config"
                        >
                    </div>

                  </div>
                  
            </div>
            <hr>
            <div class="section-title">
              <h4>Ocurrencía de alertas personalizada</h4>
              <label class="switch switch-label switch-pill switch-success" (change)="alertSwitch()">
                <input type="checkbox" class="switch-input" [checked]="isChecked">
                <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
              </label> 
            </div>
            <div class="section-subtitle">
              <p>ON: Se puede configurar un tiempo de alertas a elección, en caso de haber parametros fuera de rango se emitirán alertas cada cuanto tiempo se haya establecido.</p>
              <p>OFF: Se establece el tiempo de alertas predeterminado. 30 minutos para la primera alerta, el doble para la siguente, es decir 1 hora para la segunda.</p>
            </div>

            <div class="section-body">

              <div class="custom-time-alerts" *ngIf="isChecked">

                <div class="row hrow">
                  <h5>Establecer tiempo de alerta personalizado:</h5>
                </div>

                <div class="row">
                  <div class="col">
                    <p class="label">Días</p>
                    <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="icon-clock"></i></span>
                        </div>
                        <input
                        id="alert_days"
                        type="number"
                        formControlName="alert_days"
                        >
                    </div>
                  </div>
                  <div class="col">
                    <p class="label">Horas</p>
                    <div class="input-group ">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="icon-clock"></i></span>
                        </div>
                        <input
                        id="alert_hours"
                        type="number"
                        formControlName="alert_hours"
                        >
                    </div>
                  </div>
                  <div class="col">
                    <p class="label">Minutos</p>
                    <div class="input-group ">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="icon-clock"></i></span>
                        </div>
                        <input
                        id="alert_minutes"
                        type="number"
                        formControlName="alert_minutes"
                        >
                    </div>
                  </div>
    
                </div>

              </div>

              <div *ngIf="!isChecked">
                <div class="row">
                  <h3 class="defaultAlertMessage">Tiempo de alertas predeterminado seleccionado.</h3>
                </div>

              </div>

      

            </div>

         

          </form>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="myModal.hide()">Cerrar</button>
          <button type="button" class="btn btn-primary" (click)="saveChanges()">Guardar Cambios</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <!--modal Sucess-->
  <div bsModal #successModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-success" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Cambios Realizados con exito</h4>
          <button type="button" class="close" (click)="successModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Valores minimos y maximos cambiados con exito</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="successModalClose()">Cerrar</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->