<div class="alerts-box">

    <div class="alerts-title">
        <p>
            Alertas Recientes
        </p>
        <hr>

    </div>

    <div class="alerts-body">
        <div *ngFor="let item of alertsArray" class="row">
                <i class="cil-warning red"></i>

            <div class="col">
                {{item.name_station}}
                
            </div>
            <div class="col">
                {{item.date_alert}}
                
            </div>
            <div class="col">
                {{item.hour_alert}}
                
            </div>
        </div>

    </div>


</div>